html {
  scroll-behavior: smooth;
}

#projects {
  background-color: #e2edff;
}

#hero button{
box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
border: 1px solid;
}

#hero button:hover {
background-color: aquamarine;
}

#hero {
background-color: #e2edff;
}

#hero img {
border-radius: 50%;
}

section {
padding-top: 5rem;
}
